<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module" src="index.js"></script>
</head>
<body>
    
    <h1>hello from html</h1>

    <form action="/auth/registration" method="post">
        <h2>registration</h2>
        <input name="name" type="text">
        <input name="email" type="text">
        <button type="submit">submit</button>
    </form>

    <form action="/auth/login" method="post">
        <h2>sign in</h2>
        <input name="email" type="text">
        <input name="password" type="text">
        <button type="submit">sign in</button>
        <button id="authRefresh" type="submit">refresh token</button>
        <button id="authLogOut"  type="submit">log out</button>
    </form>

    <form action="/users" method="get">
        <h2>get all users</h2>
        <button type="submit">get</button>
    </form>

    <form>
        <h2>get, update or delete the user by id</h2>

        <input id="userId" name="id" type="text" placeholder="id: ">
        <input id="userName" name="name" type="text" placeholder="new name: ">
        <input id="userEmail" name="email" type="text" placeholder="new email: ">

        <button type="submit" id="getUserBtn">get</button>
        <button type="submit" id="postUserBtn">change</button>
        <button type="submit" id="deleteUserBtn">delete</button>
    </form>

    <footer>
        <h2>Tools</h2>
        <ul>
            <li>Backend: Node.js + Express.js + Express-validator</li>
            <li>Database: PostgreSQL + node-postgres</li>
            <li>Libs: nodemon + dotenv</li>
            <li>Bundler: Webpack</li>
        </ul>
    </footer>
</body>
</html>